*,
*::after,
*::before {
  margin: 0;
  box-sizing: inherit;
  padding: 0; }

html {
  box-sizing: border-box; }

body {
  background-color: #e5e5e5; }

a {
  text-decoration: none;
  color: #fff; }

.container {
  margin: 0 auto;
  width: 360px; }

.header {
  background-color: #fff;
  height: 101px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .header__box {
    display: flex;
    align-items: center; }
    .header__box-icon {
      margin-right: -6px;
      margin-top: 4px; }
  .header__logo {
    width: 22px;
    height: 24px;
    margin-right: 15px; }
  .header__nav {
    display: flex;
    flex: 0 0 45%;
    align-items: center;
    justify-content: space-evenly; }
    .header__nav-not {
      position: relative;
      display: flex; }
      .header__nav-not-number {
        height: 15px;
        width: 15px;
        font-size: 10px;
        background-color: #ca0202;
        color: #FFFFFF;
        border-radius: 50%;
        position: absolute;
        top: -4px;
        right: 9px;
        display: flex;
        justify-content: center;
        align-items: center; }
    .header__nav-link {
      font-size: 12px;
      font-style: italic; }

.heading-one {
  font-size: 24px;
  font-weight: 400;
  color: #535353;
  margin-right: 5px; }

.heading-two {
  color: #535353;
  font-size: 12px;
  font-weight: 400;
  padding: 10px; }

.active {
  color: #DF3856;
  font-weight: 700; }
  .active::after {
    display: block;
    content: " ";
    height: 2px;
    width: 50%;
    background-color: #DF3856;
    position: absolute;
    top: 40px;
    right: 0; }

.unactive::after {
  display: block;
  content: " ";
  height: 2px;
  width: 50%;
  background-color: #e5e5e5;
  position: absolute;
  top: 40px;
  left: 0; }

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; }
  .search__input {
    font-size: inherit;
    padding: 8px;
    border-radius: 20px;
    font-size: 10px;
    color: #333;
    width: 95%;
    border: 1px solid #e5e5e5; }
  .search__btn {
    position: relative; }
    .search__btn-icon {
      width: 15px;
      position: absolute;
      right: -30px;
      top: -8px; }

.btn-black {
  display: inline-block;
  padding: 7px 15px;
  background-color: #3E3E3E;
  border-radius: 100px;
  font-size: 10px;
  border: none; }

.btn-red {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 100px;
  background-color: #DF3856;
  border: none; }
  .btn-red-link {
    font-size: 12px;
    font-weight: 400; }
  .btn-red-big {
    padding: 15px 20px; }
    .btn-red-big-link {
      font-size: 14px;
      font-weight: 700; }

.card {
  margin-top: 5px;
  background-color: #fff; }
  .card__heading {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative; }
  .card__footer {
    margin-top: 15px; }
    .card__footer-p {
      width: 85%;
      margin: 0 auto;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 400;
      padding: 6px;
      background-color: #dff5f1;
      color: #00786c; }
      .card__footer-p-edit {
        background-image: linear-gradient(to left, #dff5f1, #e5e5e5); }
      .card__footer-p span {
        font-weight: 700; }
    .card__footer__off {
      margin: 15px 25px;
      padding: 5px;
      background-color: #eeee;
      border-radius: 100px;
      width: 35%;
      display: flex;
      align-items: center;
      justify-content: center;
      float: left; }
      .card__footer__off-link {
        color: #3e3e3e;
        text-decoration: none;
        font-size: 10px;
        font-weight: 700; }
  .card__box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: -5px; }
    .card__box-edit {
      background-color: #fff;
      padding-top: 15px; }
    .card__box__price {
      display: flex;
      flex-direction: column;
      color: #535353; }
      .card__box__price-p {
        font-size: 12px;
        font-weight: 400; }
      .card__box__price-num {
        font-size: 12px;
        font-weight: 700;
        align-self: flex-end; }

.body__shop {
  margin-top: 10px;
  padding: 15px; }
  .body__shop-p {
    font-size: 14px;
    color: #3E3E3E; }

.body__user {
  display: flex;
  padding: 15px; }
  .body__user-img {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%; }
  .body__user__exp {
    display: flex;
    flex-direction: column; }
    .body__user__exp-cap {
      font-size: 12px;
      font-weight: 400;
      color: #3E3E3E; }
  .body__user__loc {
    display: flex; }
    .body__user__loc-p {
      font-size: 10px;
      font-weight: 400;
      color: #333;
      padding: 5px; }
    .body__user__loc-locn {
      width: 10px;
      height: 13px; }

.body__meal {
  display: flex;
  justify-content: space-around;
  margin-top: 15px; }
  .body__meal-cap {
    align-self: flex-start;
    font-size: 12px;
    font-weight: 400;
    color: #3E3E3E;
    flex: 0 0 30%; }
  .body__meal-price {
    align-self: flex-end;
    font-size: 12px;
    font-weight: 400;
    color: #535353; }

.body__count {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  border-bottom: 1px solid #eeee;
  padding-bottom: 20px; }
  .body__count__del {
    width: 20px;
    height: 20px; }
  .body__count__calc {
    display: flex;
    align-items: center; }
    .body__count__calc-num {
      padding: 1px 7px;
      border: 1px solid #eeee;
      border-radius: 8px;
      margin: 0 10px; }
  .body__count__cap {
    display: flex;
    flex: 0 0 45%;
    justify-content: flex-end; }
    .body__count__cap-p {
      font-size: 10px;
      font-weight: 700;
      color: #7d7d7d;
      border-bottom: 1px dashed #7d7d7d; }

.empty {
  height: 120px;
  background-color: #e5e5e5; }
